.appAbout {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.formula {
  margin: 10px 0;
  align-self: center;
}

.hidden {
  display: none;
}

.notation {
  margin-left: 50px;
  font-style: italic;
}

.notationSymbol {
  display: inline-block;
  width: 50px;
}
