.appFooter {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.formula {
  margin: 10px 0;
  align-self: center;
}

.helpButton {
  border: none;
  background-color: transparent;
  color: rgb(0, 0, 238);
  cursor: pointer;
  display: block;
  text-align: center;
  width: 60px;
  font-size: 20px;
  margin: 15px auto 0;
}
