.table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  margin-top: 40px;
}

.caption {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.table thead {
  background-color: rgb(228 240 245);
}

.table th,
.table td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.table td {
  text-align: center;
}

.table tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

.table tbody tr:hover {
  background-color: rgb(200 200 200);
}
